
<div class="row">
  <div class="col-md-12">
    <h1>Sign-In</h1>
  </div>
</div>

<div class="row">
    
        <form #loginForm="ngForm" (ngSubmit)="onFormSubmit(loginForm.value)">
         
          <div class="col-md-12">
              Username: <input type="text" ngModel name="username">
          </div>
          <div class="col-md-12">
            Password: <input type="password" ngModel name="password">
          </div>

          <div class="col-md-12">
            <button class="btn btn-primary">Login</button>  &nbsp;&nbsp;
            <button type="reset" class="btn btn-danger">Reset</button>
          </div>


        </form>

</div>

  <!-- <h1>Form Data</h1> 
  <p>Username: {{loginForm.value | json }}</p> -->
